.hidden {
  display: none;
}

.navBar {
  height: 100px;
  display: flex;
  align-items: center;
  background: #000;
  background: -webkit-linear-gradient(to right, #2a0845, #000);
  background: linear-gradient(to right, #2a0845, #000);
}

.navBar-img {
  height: 80%;
  margin-left: 10%;
}

#imgg {
  filter: brightness(30%);
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

.thumbnail {
  position: relative;
}

.caption1 {
  position: absolute;
  top: 2%;
  left: 0;
  width: 100%;
}
.caption2 {
  position: absolute;
  top: 80%;
  left: 0;
  width: 100%;
}

input {
  display: block;
  width: 100%;
}
